.userpanel {
	.userpanel-menu {
		color: azure !important;

		span {
			color: azure !important;
		}
	}

	.channels {
		color: azure !important;
	}
}

// Messages

.messages {
	height: 76%;
	overflow-y: scroll;
	border-bottom: 2px solid #2a9d8f !important;
	border-left: 2px solid #2a9d8f !important;

	border-radius: 1rem !important;
}

// MessagesForm
.message__form {
	box-shadow: 3px -9px 17px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 3px -9px 17px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 3px -9px 17px 0px rgba(0, 0, 0, 0.75);
	position: fixed !important;
	margin-left: 320px !important;
	left: 0;
	right: 1rem;
	z-index: 200;
}

// Message.js
.message__self {
	border-left: 2px solid #e07a5f !important;
	padding-left: 8px;
}
